#bubble{
  position: fixed;
  border-radius: 50%;
}

.bubble-open{
  top: -100vh;
  left: -50vw;
  opacity: 1;
}

.bubble-closed{
  top: 50vh;
  left: 50vw;
  opacity: 0;
}

#start-screen, #stop-screen{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

#start-screen{
  justify-content: center;
  align-items: center;
}

#stop-screen{
  justify-content: flex-end;
  align-items: center;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
